.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tokenContainer {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.subtitleContainer {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}
