.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tokenContainer {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 500px;
}

.searchContainer {
  max-width: 500px;
}
