.taskListItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: var(--midas-space-medium);
  gap: var(--midas-space-medium);
  border-bottom: 1px solid var(--midas-border-color-subtle);
}
